<main>
  <div class="main-content">
      <div class="row">
          <div class="col s12 m12 l12">
              <span class="page-title">
                  My Orders
              </span>
              <ul class="breadcrumbs">
                  <li><a routerLink="/admin/dashboard">Home</a></li>
                  <li class="active">My Orders</li>
              </ul>
          </div>
      </div>

      <div class="row">
          <div class="col s12 m12 l12">
              <div class="card">
                      <div class="card-content">
                        <div class="row">
                          <div class="col s12 m12 l12">
                              <span style="float: right;">
                                  <a routerLink="/admin/add-order"
                                      class="waves-effect waves-light btn"><i
                                          class="material-icons left">library_add</i>Add Order</a></span>
                          </div>
                      </div>
                      <table style="font-size: small;" class="datatable responsive-table highlight" id="pagedatatable">
                          <thead>
                              <tr>
                                  <th style="white-space: nowrap">Sr No.</th>
                                  <th style="white-space: nowrap">Order No</th>
                                  <th>From</th>
                                  <th>Date</th>
                                  <th>Amount</th>
                                  <th>Status</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr  *ngFor="let order of orders | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                                  <td>{{(5*(p-1))+(i+1)}}</td>
                                  <td><span>{{order.order_no}}</span></td>
                                  <td style="white-space: nowrap"><span>{{order.fname}} {{order.mname}} {{order.lname}}</span></td>
                                  <td><span>{{order.order_date | date: 'dd/MM/yyyy'}}</span></td>
                                  <td><span>{{order.created_disctributor_amount}}</span></td>
                                  <td>
                                    <span *ngIf="order.account_approved=='no' && order.forward_to_warehouse=='no'">Pending</span>
                                    <span *ngIf="order.account_approved=='yes' && order.forward_to_warehouse=='no'">Verified</span>
                                    <span *ngIf="order.account_approved=='yes' && order.forward_to_warehouse=='yes'">Forwarded to warehouse</span>
                                  </td>
                                  <td style="white-space: nowrap">
                                      <a href="javaScript:void(0)" class="btn-floating" title="View Details" style="background-color: #26A69A;" (click)="editOrder(order.order_no, order.created_disctributor_id)"><i
                                      class="material-icons"
                                      >remove_red_eye</i></a>
                                      &nbsp;
                                      <a *ngIf="order.account_approved=='no'" href="javaScript:void(0)" class="btn-floating" title="Verify" style="background-color: green;" (click)="verifyOrder(order.order_no, order.created_disctributor_id)"><i
                                              class="material-icons"
                                              >done</i></a>
                                      &nbsp;
                                      <a *ngIf="order.forward_to_warehouse=='no'" href="javaScript:void(0)" class="btn-floating" title="Forward" style="background-color: blue;" (click)="forwardOrder(order.order_no, order.created_disctributor_id)"><i
                                              class="material-icons">arrow_forward</i></a>

                                      &nbsp;
                                      <a *ngIf="order.forward_to_warehouse=='no'" href="javaScript:void(0)" class="btn-floating" title="Delete" style="background-color: red;" (click)="deleteOrder(order.order_no, order.created_disctributor_id)"><i
                                                      class="material-icons">delete</i></a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
