<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Distributor Video List
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">Distributor Video List</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <span style="float: right;">
                                    <a routerLink="/admin/distributorvideo-add" class="waves-effect waves-light btn"><i
                                            class="material-icons left">library_add</i>Add Distributor Video</a></span>
                            </div>
                        </div>
                        <table style="font-size: small" class="datatable responsive-table highlight" id="pagedatatable">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Dist Name</th>
                                    <th>Date</th>
                                    <th>Video Title</th>
                                    <!-- <th>Video Desc</th> -->
                                    <th>Video URL</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let listdata of alllist | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                                    <td>{{(5*(p-1))+(i+1)}}</td>
                                    <td><span style="text-transform:uppercase">{{listdata.fname}} {{listdata.mname}}
                                            {{listdata.lname}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.date | date: 'dd/mm/yyyy'}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.title}}</span></td>
                                    <!-- <td><span style="text-transform:uppercase">{{listdata.description}}</span></td> -->
                                    <td><span style="text-transform:uppercase">{{listdata.url}}</span></td>
                                    <td>
                                        <a href="JavaScript:void(0)" class="btn-floating"
                                            title="Edit" style="background-color: green;"
                                            (click)="getForEdit(listdata.id)"><i class="material-icons">edit</i></a>
                                        &nbsp;
                                        <a href="JavaScript:void(0)" class="btn-floating" title="Delete"
                                            style="background-color: red;" (click)="delete(listdata.id)"
                                            onclick="confirm('Are you sure want to delete distributor video?')"><i
                                                class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>