<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Add Product
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLinkActive="activelink">Home</a></li>
                    <li><a routerLink="/admin/product-list">Product</a></li>
                    <li class="active">Add Product</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="formContent" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <!-- <i class="material-icons prefix">account_circle</i> -->
                                    <input id="title" name="title" type="text" formControlName="title"
                                        class="active validate" required />
                                    <label for="title">Product Title<span class="red-text">*</span></label>
                                    <div *ngIf="f.title.errors && submitted">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>
                            </div>

                            <div id='educatioDetails'>
                                <div>
                                    <p class="teal lighten-2" style="padding:10px;"><b>Enter Content and Product Link</b></p>
                                </div>
                                <div class='row'>
                                    <div class="input-field col s12 m12 l12">
                                        <input id="content" name="content" type="text" formControlName="content"
                                            class="active validate" required />
                                        <label for="content">Enter Content<span class="red-text">*</span></label>
                                        <div *ngIf="submitted && f.content.errors" class="invalid-input">
                                            <span class="red-text"><strong>Required*</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                        <input id="link" name="link" type="text" formControlName="link"
                                            class="active validate" required />
                                        <label for="link">Product Link<span class="red-text">*</span></label>
                                        <div *ngIf="f.link.errors && submitted">
                                            <span class="red-text"><strong>Required*</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id='educatioDetails'>
                                <div>
                                    <p class="teal lighten-2" style="padding: 10px;"><b>Enter Product Details</b></p>
                                </div>
                                <ng-container formArrayName="productDetails">
                                    <ng-container *ngFor="let frmgrp of d.controls;let i=index;">
                                        <div class="row">
                                          <div class="col s12 m12 l12">
                                            <div class="row" [formGroupName]="i">
                                              <div class="input-field col s12 m4 l4">
                                                  <input id="quantity" name="quantity" type="number"
                                                      formControlName="quantity" class="active validate"
                                                      required/>
                                                  <label for="">Unit quantity<span class="red-text">*</span></label>
                                                  <div *ngIf="frmgrp.controls.quantity.errors && submitted">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>


                                              <div class="input-field col s12 m4 l4">
                                                  <!-- <label>Select State</label> -->
                                                  <select class="" formControlName="quantity_unit">
                                                      <option value="" disabled selected>Select Unit</option>
                                                      <option *ngFor="let unitlist of unitsall"
                                                          [value]="unitlist.name">
                                                          {{unitlist.name}}</option>

                                                  </select>
                                                  <div *ngIf="submitted && frmgrp.controls.quantity_unit.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>

                                              <div class="input-field col s12 m4 l4">
                                                  <input id="farmer_price" name="farmer_price"
                                                      class="form-control input_capital  capitalize" type="number"
                                                      value="" class="validate" formControlName="farmer_price" required/>
                                                  <label for="farmer_price">Farmer Price<span class="red-text">*</span></label>
                                                  <div *ngIf="submitted && frmgrp.controls.farmer_price.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>

                                              <div class="input-field col s12 m4 l4">
                                                  <input id="old_price" name="old_price" class="validate"
                                                      type="number" value="" formControlName="old_price" required/>
                                                  <label for="old_price">Old Price<span class="red-text">*</span></label>
                                                  <div *ngIf="submitted && frmgrp.controls.old_price.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>

                                              <div class="input-field col s12 m4 l4">
                                                  <input id="dsc_price" name="dsc_price" class="validate"
                                                      type="number" value="" formControlName="dsc_price" required/>
                                                  <label for="dsc_price">Division Service Center Price<span
                                                          class="red-text">*</span></label>
                                                  <div *ngIf="submitted && frmgrp.controls.dsc_price.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>

                                              <div class="input-field col s12 m4 l4">
                                                  <input id="bsc_price" name="bsc_price" class="validate"
                                                      type="number" value="" formControlName="bsc_price" required/>
                                                  <label for="bsc_price">Block Service Center Price<span
                                                          class="red-text">*</span></label>
                                                  <div *ngIf="submitted && frmgrp.controls.bsc_price.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>

                                              <div class="input-field col s12 m4 l4">
                                                  <input id="fsc_price" name="fsc_price" class="validate"
                                                      type="number" value="" formControlName="fsc_price" required/>
                                                  <label for="fsc_price">Farmer Service Center Price<span
                                                          class="red-text">*</span></label>
                                                  <div *ngIf="submitted && frmgrp.controls.fsc_price.errors"
                                                      class="invalid-input">
                                                      <span class="red-text"><strong>Required*</strong></span>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- <a href="javascript:void(0);" class="btn" style="background-color: red;"
                                              (click)="deleteDetails(i)"
                                              onclick="confirm('Are you sure want to delete')"><i
                                                  class="material-icons left">delete</i> Delete</a> -->
                                          </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <!-- <div class="row">
                                    <div class="col s12">
                                        <span class="right" style="float:right;">
                                            <a href="javascript:void(0);" class="btn" style="background-color: green;"
                                                (click)="addMoreDetails()"><i class="material-icons left">add_box</i>
                                                Add More</a>
                                        </span>
                                    </div>
                                </div> -->
                            </div>


                            <div id='educatioDetails'>
                                <div>
                                    <p class="teal lighten-2" style="padding: 10px;"><b>Upload Product Image</b> ( Note: Add 5 product images )</p>
                                </div>
                                <ng-container formArrayName="photoDetails">
                                    <ng-container *ngFor="let frmgrphoto of photo.controls;let ii=index;">
                                      <div class="row">
                                              <div class="input-field col s12 m8 l8">
                                                <div [formGroupName]="ii">
                                                <label>Upload File</label>
                                                <div class="file-field input-field">
                                                    <div class="btn">
                                                        <span>Browse</span>
                                                        <input type="file" (change)="onFileSelect($event,ii)"
                                                            formControlName="photo_one" />
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text"
                                                            placeholder="Upload file" />
                                                    </div>
                                                    <div *ngIf="submitted && frmgrphoto.controls.photo_one.errors"
                                                            class="invalid-input">
                                                        <span class="red-text"><strong>Required*</strong></span>
                                                    </div>
                                                </div>

                                                <!-- <a href="javascript:void(0);" class="btn" style="background-color: red;"
                                                    (click)="deletePhoto(ii)"
                                                    onclick="confirm('Are you sure want to delete')"><i
                                                        class="material-icons left">delete</i> Delete</a> -->
                                            </div>
                                        </div>
                                        <div class="col s12 m4 l4">
                                          <ng-container *ngIf="ii==0">
                                            <img [src]="fileuponepreview" alt="Product_Image_1" height="100px" width="100px">
                                          </ng-container>
                                          <ng-container *ngIf="ii==1">
                                            <img [src]="fileuptwopreview" alt="Product_Image_2" height="100px" width="100px">
                                          </ng-container>
                                          <ng-container *ngIf="ii==2">
                                            <img [src]="fileupthreepreview" alt="Product_Image_3" height="100px" width="100px">
                                          </ng-container>
                                          <ng-container *ngIf="ii==3">
                                            <img [src]="fileupfourpreview" alt="Product_Image_4" height="100px" width="100px">
                                          </ng-container>
                                          <ng-container *ngIf="ii==4">
                                            <img [src]="fileupfivepreview" alt="Product_Image_5" height="100px" width="100px">
                                          </ng-container>
                                        </div>
                                      </div>
                                    </ng-container>
                                </ng-container>
                                <!-- <div class="row" style="margin-top: 10px;">
                                  <div class="col s12">
                                      <span class="right" style="float:right;">
                                          <a href="javascript:void(0);" class="btn" style="background-color: green;"
                                              (click)="addMorePhoto()"><i class="material-icons left">add_box</i>
                                              Add More</a>
                                      </span>
                                  </div>
                                </div> -->
                            </div>

                            <div class="row">
                                <input class="validate" type="text" value="0" formControlName="datafor" hidden />
                                <input class="validate" type="text" value="0" formControlName="id" hidden />
                            </div>

                            <div class="row" style="float:right;">
                                <div class="col s12">
                                    <button type="submit" class="btn btn-save">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
