<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Add Blog Article
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li><a routerLink="/admin/blogarticle-list">Blog Article</a></li>
                    <li class="active">Add Blog Article</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="formContent" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <!-- <i class="material-icons prefix">account_circle</i> -->
                                    <input id="title" name="title" type="text" formControlName="title"
                                        class="active validate" required />
                                    <label for="title">Enter Title<span class="red-text">*</span></label>
                                    <div *ngIf="f.title.errors && submitted">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>
                            </div>

                            <div id='educatioDetails'>
                                <div>
                                    <p class="teal lighten-2" style="padding: 10px;"><b>Enter Content</b></p>
                                </div>
                                <div class='row'>
                                    <div class="input-field col s12 m12 l12">
                                        <ckeditor formControlName="content"></ckeditor>
                                        <div *ngIf="submitted && f.content.errors" class="invalid-input">
                                            <span class="red-text"><strong>Required*</strong></span>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m4 l4">
                                        <select class="" formControlName="language">
                                            <option value="" disabled selected>Choose Language</option>
                                            <option *ngFor="let languagelist of languageall" [value]="languagelist.name"
                                            [selected]="languagelist.name === languageedit" >
                                                {{languagelist.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.language.errors" class="invalid-input">
                                            <span class="red-text"><strong>Required*</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m8 l8">
                                      <label>Upload Blog Article Photo 1<span class="red-text">*</span></label>
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <span>Browse</span>
                                              <input type="file" (change)="onFileSelect($event,'one')" accept="image/*"/>
                                          </div>

                                          <div class="file-path-wrapper">
                                              <input class="file-path validate" type="text" placeholder="Upload file" />
                                          </div>
                                          <div *ngIf="submitted && !fileupone" class="invalid-input">
                                              <span class="red-text"><strong>Required*</strong></span>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col s12 m4 l4">
                                      <img src={{photoviewone}} alt="image" height="100px"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m8 l8">
                                      <label>Upload Blog Article Photo 2<span class="red-text">*</span></label>
                                      <div class="file-field input-field">
                                          <div class="btn">
                                              <span>Browse</span>
                                              <input type="file" (change)="onFileSelect($event,'two')" accept="image/*"/>
                                          </div>

                                          <div class="file-path-wrapper">
                                              <input class="file-path validate" type="text" placeholder="Upload file" />
                                          </div>

                                          <div *ngIf="submitted && !fileuptwo" class="invalid-input">
                                              <span class="red-text"><strong>Required*</strong></span>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col s12 m4 l4">
                                      <img src={{photoviewtwo}} alt="image" height="100px"/>
                                    </div>
                                </div>
                            </div>

                            <input class="validate" type="text" value="0" formControlName="datafor" hidden />
                            <input class="validate" type="text" value="0" formControlName="id" hidden />

                            <div class="row" style="float:right;">
                                <div class="col s12">
                                    <button type="submit" class="btn btn-save">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
