<nav class="top-nav" role="navigation">
    <div class="row">
        <div class="col s12">
            <div class="nav-wrapper">
                <a class="dash-title">Admin</a>
                <div class="right">
                    <a href="#" data-target="nav-mobile" style="color: white;"
                        class="button-collapse sidenav-trigger  top-nav full hide-on-large-only"><i
                            class="material-icons">menu</i></a>
                </div>
            </div>
        </div>
    </div>



    <ul id="nav-mobile" class="sidenav sidenav-fixed fixed">
        <li>
            <div class="logo">
                <a href="">
                    <img src="../../assets/img/logo.png" style="height:80px;width:80px;" alt="SoilCharge Logo">
                </a>
            </div>
        </li>
        <div class="divider"></div>
        <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">dashboard</i>Dashboard</a>
        </li>

        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i class="material-icons">web</i>Web</a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="" routerLink="/admin/farmer-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Company Profile</a>

                        <li class=""><a href="" routerLink="/admin/plotvisit-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>About us
                                Visit</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Vision
                                & Mission</a>
                        </li>
                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Cover
                                Photo</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Gallery Photo</a>
                        </li>




                    </ul>
                </div>
            </li>
        </ul>

        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i
                        class="material-icons">groups</i>FCO-Office</a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="" routerLink="/admin/farmer-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Farmer</a>

                        <li class=""><a href="" routerLink="/admin/plotvisit-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Plot
                                Visit</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Distributor Follow up</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i class="material-icons">groups</i>FCO-Field
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a routerLink="/admin/farmer-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Farmer</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>


        <!-- <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">account_balance_wallet</i>Account</a>
        </li> -->

        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i
                        class="material-icons">account_balance_wallet</i>Account</a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="" routerLink="/admin/farmer-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Order</a>

                        <li class=""><a href="" routerLink="/admin/plotvisit-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>DSC Order</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Order Confirmation</a>
                        </li>
                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Sales</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Report</a>
                        </li>

                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-green"><i
                                        class="material-icons">report</i>Report</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class=""><a href="" routerLink="/admin/farmer-list"
                                                class="waves-effect waves-green"><i
                                                    class="material-icons">stop_circle</i>Turnover Report:- State And
                                                District Wise</a></li>

                                        <li class=""><a href="" routerLink="/admin/farmer-list"
                                                class="waves-effect waves-green"><i
                                                    class="material-icons">stop_circle</i>Sales Report:- State And
                                                District Wise</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>




                    </ul>
                </div>
            </li>
        </ul>


        <!-- <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">account_circle</i>Expert</a>
        </li> -->

        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i
                        class="material-icons">account_circle</i>Expert</a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="" routerLink="/admin/farmer-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Soil Charger Technology</a>

                        <li class=""><a href="" routerLink="/admin/plotvisit-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Crop Info</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Video</a>
                        </li>
                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Audio</a>
                        </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Product & Order</a>
                        </li>

                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-green"><i
                                        class="material-icons">report</i>Blog</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class=""><a href="" routerLink="/admin/farmer-list"
                                                class="waves-effect waves-green"><i
                                                    class="material-icons">stop_circle</i>SCT Article</a></li>

                                        <li class=""><a href="" routerLink="/admin/farmer-list"
                                                class="waves-effect waves-green"><i
                                                    class="material-icons">stop_circle</i>SCT Schedule</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Testimonial</a> </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Ask Expert</a> </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>News & Event</a> </li>

                        <li class=""><a href="" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Market Links.</a> </li>





                    </ul>
                </div>
            </li>
        </ul>

        <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">list_alt</i>Dispatch</a>
        </li>


        <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">storefront</i>Production</a>
        </li>


        <li class="active"><a href="" class="waves-effect waves-green"><i
                    class="material-icons">directions_run</i>Distribution</a>
        </li>
        <!-- airport_shuttle -->

        <li class="active"><a href="" class="waves-effect waves-green"><i class="material-icons">person_add</i>Hr</a>
        </li>

        <li class="active"><a href="" class="waves-effect waves-green"><i class="material-icons">grade</i>Career</a>
        </li>


        <!-- <li><a href="" routerLink="/admin/distributor-list" class="waves-effect waves-green"><i
            class="material-icons">groups</i>Distributor </a></li> -->


        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-green"><i
                        class="material-icons">groups</i>Distributor</a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="" routerLink="/admin/distributor-list" class="waves-effect waves-green"><i
                                    class="material-icons">stop_circle</i>Distributor List</a>

                        <li class=""><a href="" routerLink="/admin/distributor-visit"
                                class="waves-effect waves-green"><i class="material-icons">stop_circle</i>Farmer Visit
                                <br> To
                                Farmer</a>

                        <li class=""><a href="" routerLink="/admin/distributorvideo-list"
                                class="waves-effect waves-green"><i class="material-icons">stop_circle</i>Distributor
                                Video</a>

                        <li class=""><a href="" routerLink="/admin/distributorfarmermeeting-list"
                                class="waves-effect waves-green"><i class="material-icons">stop_circle</i>Farmer
                                Meeting</a>

                        <li class=""><a href="" routerLink="/admin/distributordistributormeeting-list"
                                class="waves-effect waves-green"><i class="material-icons">stop_circle</i>Distributor
                                Meeting</a>




                        </li>
                    </ul>
                </div>
            </li>
        </ul>


        <div class="divider"></div>
        <li><a href="" class="waves-effect waves-green"><i class="material-icons">exit_to_app</i>Logout </a>
        </li>
    </ul>



</nav>
<router-outlet></router-outlet>
<div class="footer">
    <p class="copyright">
        Soil Charger Technology
    </p>
</div>