<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Farm Visit List
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">Farm Visit List</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <!-- <span style="float: right;">
                                    <a routerLink="/admin/distributor-add"
                                        class="waves-effect waves-light btn"><i
                                            class="material-icons left">library_add</i>Add Distributor</a></span> -->
                            </div>
                        </div>
                        <table style="font-size: small" class="datatable responsive-table highlight" id="pagedatatable">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Distributor Name</th>
                                    <th>Farmer Name</th>
                                    <th>Crop</th>
                                    <th>Acer</th>
                                    <th>Description</th>
                                    <th>About Visit</th>
                                    <th>Visit Date</th>
                                    <th>Photo One</th>
                                    <th>Photo Two</th>
                                    <th>Photo Three</th>
                                    <th>Photo Four</th>
                                    <th>Photo Five</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let listdata of alllist | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                                    <td>{{(5*(p-1))+(i+1)}}</td>
                                    <td><span style="text-transform:uppercase">{{listdata.fname}} {{listdata.mname}} {{listdata.lname}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.ffname}} {{listdata.fmname}} {{listdata.flname}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.crop}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.acer}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.description_about_visit}}</span></td>
                                    <td><span style="text-transform:uppercase">{{listdata.about_visit}}</span></td>
                                    <td>{{listdata.created_at| date: 'dd/mm/yyyy'}}</td>
                                    <td><span>
                                        <a href={{listdata.photopathone}} target="_blank" download>

                                       <img src={{listdata.photopathone}} alt="image" height="50px">
                                     </a>
                                    </span></td>
                                    <td><span>
                                        <a href={{listdata.photopathtwo}} target="_blank" download>

                                       <img src={{listdata.photopathtwo}} alt="image" height="50px">
                                     </a>
                                    </span></td>
                                    <td><span>
                                        <a href={{listdata.photopaththree}} target="_blank" download>

                                       <img src={{listdata.photopaththree}} alt="image" height="50px">
                                     </a>
                                    </span></td>
                                    <td><span>
                                        <a href={{listdata.photopathfour}} target="_blank" download>

                                       <img src={{listdata.photopathfour}} alt="image" height="50px">
                                     </a>
                                    </span></td>
                                    <td><span>
                                        <a href={{listdata.photopathfive}} target="_blank" download>

                                       <img src={{listdata.photopathfive}} alt="image" height="50px">
                                     </a>
                                    </span></td>
                                    <!-- <td>
                                        <a href="JavaScript:void(0)" class="btn-floating" title="Edit" style="background-color: green;"><i
                                                class="material-icons"(click)="getForEdit(listdata.id)" 
                                                >edit</i></a>
                                        &nbsp;
                                        <a href="JavaScript:void(0)" class="btn-floating" title="Delete" style="background-color: red;"><i
                                                class="material-icons" (click)="delete(listdata.id)"
                                                >delete</i></a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>